
extends base

block content
    
    .container-fluid
        .row
            #sidebar.col-md-3
                .list-group
                    a.list-group-item.list-group-item-action.active(href='/dashboard')
                        | Home
                    a.list-group-item.list-group-item-action(href='/settings') Settings
                    a.list-group-item.list-group-item-action(href='/profile') Profile
            #main-area.col-md-9
                .row.justify-content-around
                    .card.col-md-5
                        .card-header
                            | Budget Overview
                        .card-body#percent-chart
                            #example.pie-title-center(data-percent=`${per}`) 
                                span.pie-value= `${per}%`
                            .text-center
                                h4= `total expense is ${per}% `
                                p= `budget is ${budget} `

                            #overview
                    .card.col-md-5
                        #category-chart.card-header
                            | Expense Division
                        .card-body
                            if labels<=5
                                
                                canvas#pie-chart(width='800' height='450')
                                #categories
                            else 
                                table.table
                                    thead
                                        tr
                                            
                                            th(scope='col') Item Name
                                            th(scope='col') amount
                                        
                                               
                                    tbody
                                        each expense in expenses
                                            tr#expense-row
                                                
                                                td= `${expense.name}`
                                                td= `${expense.amount}`
                                            
                table.table
                    thead
                        tr
                            th(scope='col') category
                            th(scope='col') Item Name
                            th(scope='col') Amount
                            th(scope='col') Expense Date
                            th(scope='col')
                                 button.btn.btn-primary(type='button' data-toggle='modal' data-target='#exampleModal') Add Expense
                    tbody
                        each expense in expenses
                            tr#expense-row
                                td= `${expense.category}`
                                td= `${expense.name}`
                                td= `${expense.amount}`
                                td= `${expense.date.toLocaleString('en-us',{day: 'numeric',month: 'long', year: 'numeric'})}, ${expense.date.toLocaleTimeString('en-US')} `
                                td 
                                    button#expense-delete.btn.btn-danger(type='button' onclick="SomeDeleteRowFunction(this)"  value=`${expense.id}`) Delete

    #exampleModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#addexpense.modal-title Add Expense
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    form#addcategoryform
                        .form-group
                            label(for='expense-name') Name
                            input#expense-name-input.form-control(type='text'  aria-describedby='emailHelp' placeholder='Expense Name')
                            .form-group
                            label(for='expense-amount') amount
                            input#expense-amount-input.form-control(type='text'  placeholder='Expense Amount')
                            .form-group
                            label(for='expense-category') Select Category
                            select#expense-category-input.form-control
                                option(value='') select
                                option(value='grocery') grocery
                                option(value='electronics') electronics
                                each category in user.categories
                                    option(value=`${category.name}`)= `${category.name}`
                            button#expense-submit.btn.btn-primary(type='button' onlcick="submitExpense(this)") Submit

              
